{% extends "base.html.twig" %}
{% block body %}
            <article>
            <div class="meradata">Ecrit le {{article.createAt | date('d/m/Y')}} à {{ article.createAt | date('H:i')}}</div>
            <h2>{{ article.title }}</h2>
            <div class="content">
                <img src={{ article.image }} alt="">
                <br>
               {{ article.content | raw}}
            </div>
            <br>
                <label for=""><h5>Commentaire: </h5></label>
                <input type="text" class="form-control" id="Commentaire" placeholder="Commentaire">

            
            <a href="{{path('blog_edit', {'id' : article.id})}}"><button class="btn btn-info">Modifier l'article</button></a>
        </article>
{% endblock %}