{% extends "base.html.twig" %}
{% block body %}
	<article>
		<div class="card border-danger m-3" style="max-width: 100%;">
			<div class="card-header">Ecrit le
				{{article.createdAt | date('d/m/Y')}}
				à
				{{ article.createdAt | date('H:i')}}
				{{article.category.title}}
			</div>
			<div class="card-body">
				<h2 class="card-title">{{ article.title }}</h2>
				<img src={{ article.image }} alt="">
				<p class="card-text">{{ article.content }}</p>
				<a href="{{path('blog_edit', {'id' : article.id})}}">
					<button class="btn btn-warning">Modifier l'article</button>
				</a>
				<a href="">
					<button class="btn btn-danger">Supprimer l'article</button>
				</a>
				<a href="{{path('blog_com', {'id' : article.id})}}">
					<button class="btn btn-primary">Ajouter un Commentaire</button>
				</a>
			</div>
		</div>
	</article>


	<section id="commentaire">
		{% for comment in article.comments %}
			<div class="card border-light mb-3">
				<div class="card-header">{{comment.author}}
					(<small>{{comment.createdAt | date('d/m/Y à H:i')}}</small>)</div>
				<div class="card-body">
					<div class="comment">
						<div class="row">
							<div class="col">
								{{comment.content | raw}}
							</div>
						</div>
					</div>
				</div>
			</div>
		{% endfor %}
	</section>

{% endblock %}
